<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head><meta charset="utf-8"><title>Détails des taches</title></head>
    <body>
        <h1 th:text="${task.title}">Tache</h1>
        <p th:text="${task.description}">description</p>
        <p>Statut: <span th:text="${task.completed ? 'Terminée' : 'En cours'}"></span></p>
        <p>Par: <a th:href="@{|/users/${task.user.id}|}" th:text="${task.user.username}">user</a></p>
        <a href="/tasks">Retour à la liste des tâches</a>
    </body>
</html>
